<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTABLE ALUMNI</title>
    <style>
        .image {
            display: flex;
            justify-content: center;
            width: 1020px;  
            height: auto;  
            border-radius: 20px;
			margin-left: 250px;
        }
        img {
            max-width: 100%;  
            border: 5px solid #6200EA;
			border-radius:20px;
        }
    </style>
</head>
<body bgcolor="#1F1F1F">
    <section>
        <div class="image" id="id1">

            <img src="{{ url_for('static', filename='Images/jaypee.jpg') }}" alt="Jaypee Image">
        </div>
    </section>
</body>
</html>